.item {
    display: block;
    align-items: center;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s ease;
}

.item:hover {
    background-color: #e5e7eb;
}

.itemActive {
    background-color: #bfdbfe;
    font-weight: 600;
}

.fileList {
    width: 70%;
    display: block;
}

.fileListContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}